@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
$primColor: #fcee30;
$darkest: #131417;
$midGray: #252830;
$lightGray: #2c303a;
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
.catWrapper .card {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 20px;
  align-items: center;
  background: wheat;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contentBx {
  display: none;
}
