@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
$primColor: #fcee30;
$darkest: #131417;
$midGray: #252830;
$lightGray: #2c303a;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.catWrapper {
  height: 87vh;
  width: 100%;
  display: flex;
  background-color: $midGray;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
    background-color: $lightGray;
  }
}
.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8 {
  background-color: aliceblue;
  width: 24%;
  height: 40%;
  background: linear-gradient(180deg, $lightGray 85%, $midGray 100%);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $primColor;
  color: white;
  font-family: "News Cycle";
  font-size: larger;
  transition: 0.6s;
  text-align: center;
}
.card1 h6,
.myLink {
  visibility: hidden;
  padding: 10px;
}
.card1:hover {
  height: 60%;
  width: 28%;
}
.card1:hover h6 {
  visibility: visible;
}
.card1:hover .myLink {
  visibility: visible;
}
